{% extends "../base_site.html" %}
{% load blog_extras %}
{% load i18n static %}

{% block content %}
{% if validlink %}
<div class="alert alert-info" role="alert">
    {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
</div>

<form method="post">{% csrf_token %}
{{ form.as_bootstrap4 }}
{% button 'change_password' %}
</form>
{% else %}
<div class="alert alert-warning" role="alert">
{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
</div>
{% endif %}
{% endblock %}
