{% extends "../base_site.html" %}
{% load blog_extras %}
{% load i18n static %}

{% block content %}
<form method="post">{% csrf_token %}
<div class="alert alert-warning" role="alert">{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</div>
{{ form.as_bootstrap4 }}
{% button 'change_password' %}
{#<div class="submit-row">#}
{#    <input type="submit" value="{% translate 'Change my password' %}" class="default">#}
{#</div>#}
</form>
{% endblock %}
