{% extends 'blog/base.html' %}
{% load blog_extras %}

{% block body_content %}
{% include '../entry/entry_detail_info.html' with object=object.entry %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_bootstrap4 }}
{% button 'update' %}
{% button 'back_to_list' url=view.urls.list %}
{% button 'detail' url=view.urls.detail %}
{% button 'delete' url=view.urls.delete %}
</form>
{% endblock body_content %}

{% block javascript %}
    {{ block.super }}
    {% include '../body_text_ckeditor.html' %}
{% endblock javascript %}