{% load i18n %}
<h1>{%  translate "About Me" %}</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A ad cum cupiditate eligendi et eum fuga incidunt inventore iusto magnam
    mollitia nam officia officiis, quidem recusandae reprehenderit sapiente sequi voluptates.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut commodi dolorem eligendi
    exercitationem maiores nihil omnis perferendis quaerat reprehenderit sit suscipit tempore,
    temporibus tenetur totam unde, vero vitae voluptatum.
</p>